body {
    background-color: #000000;
    overflow: hidden
}

h1 {
    margin: 20px;
    left: 40px;
    color: white
}

.root {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-color: #000000;
    width: 100%;
    border-style: dashed;
    border-color: #5555;
    border-width: 3px;
}

.eventBoard {
    position: absolute;
    left: 0%;
    right: 0%;
    height: 25%;
    border-style: dashed;
    border-color: #5555;
    border-width: 3px;
}

.hookControll {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 25%;
    height: 25%;
    border-style: dashed;
    border-color: #5555;
    border-width: 3px;
}

.generatorBreakControll {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 50%;
    height: 25%;
    border-style: dashed;
    border-color: #5555;
    border-width: 3px;
}