body {
    background-color: #000000;
    overflow: hidden
}

h1 {
    margin: 20px;
    left: 40px;
    color: #990000
}

.root {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-color: #000000;
    width: 100%;
    border-style: dashed;
    border-color: #5555;
    border-width: 3px;
}

.eventBoard {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    height: 25%;
    border-style: dashed;
    border-color: #5555;
    border-width: 3px;
}

.hookControll {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 25%;
    height: 25%;
    border-style: dashed;
    border-color: #5555;
    border-width: 3px;
}

.generatorBreakControll {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 50%;
    height: 25%;
    border-style: dashed;
    border-color: #5555;
    border-width: 3px;
}


.progressBar {
    position: absolute;
    left: 10%;
    width: 80%;
    height: 20px;
    bottom: 8%;
    background-color: #660000;
}

.playerCard{
    color: #660000;
    position: relative;
    width: 150px;
    height: 100px;
}


.notification{
    color: #660000;
    position: relative;
    width: 50%;
    height: 100px;
}

button {
    width: 40%;
    height: 50%;
    left: 30%;
    right: 30%;
    position: absolute;
    background-color: #000000;
    border-radius: 30px;
    border-style: dotted;
    color: white;
    font-size: xx-large;
}

button:focus {
    background-color: #660000;
}